html {
    color: white;
    font-family: monospace;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #0f0f0f;
    display: flex;
        flex-direction: column;
        align-items: center;
}

#title-container {
    width: 100%;
    display: flex;
        justify-content: center;
        align-items: center;
}

#title-container h1 {
    text-align: center;
}

#input-container {
    width: 700px;
    display: flex;
        justify-content: space-around;
}

.center-td {
    width: 100%;
    text-align: center;
}

#history {
    margin-top: 25px;
}

#history th, #history td {
    padding: 5px;
    border: 1px solid white;
    text-align: center;
}

#description-column {
    width: 250px;
}